ToDoClient/Service References/ToDoServiceReference/WcfProxyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfProxyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/toDoService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/toDoService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/toDoService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfToDoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfProxyService_GetOrCreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrCreateUser" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_GetOrCreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrCreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_GetTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodos" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_GetTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_CreateTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTodo" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_CreateTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTodoResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_UpdateTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTodo" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_UpdateTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTodoResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_DeleteTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodo" />
  </wsdl:message>
  <wsdl:message name="IWcfProxyService_DeleteTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfProxyService">
    <wsdl:operation name="GetOrCreateUser">
      <wsdl:input wsam:Action="http://tempuri.org/IWcfProxyService/GetOrCreateUser" message="tns:IWcfProxyService_GetOrCreateUser_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWcfProxyService/GetOrCreateUserResponse" message="tns:IWcfProxyService_GetOrCreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTodos">
      <wsdl:input wsam:Action="http://tempuri.org/IWcfProxyService/GetTodos" message="tns:IWcfProxyService_GetTodos_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWcfProxyService/GetTodosResponse" message="tns:IWcfProxyService_GetTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTodo">
      <wsdl:input wsam:Action="http://tempuri.org/IWcfProxyService/CreateTodo" message="tns:IWcfProxyService_CreateTodo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWcfProxyService/CreateTodoResponse" message="tns:IWcfProxyService_CreateTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTodo">
      <wsdl:input wsam:Action="http://tempuri.org/IWcfProxyService/UpdateTodo" message="tns:IWcfProxyService_UpdateTodo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWcfProxyService/UpdateTodoResponse" message="tns:IWcfProxyService_UpdateTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTodo">
      <wsdl:input wsam:Action="http://tempuri.org/IWcfProxyService/DeleteTodo" message="tns:IWcfProxyService_DeleteTodo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWcfProxyService/DeleteTodoResponse" message="tns:IWcfProxyService_DeleteTodo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfProxyService" type="tns:IWcfProxyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrCreateUser">
      <soap:operation soapAction="http://tempuri.org/IWcfProxyService/GetOrCreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodos">
      <soap:operation soapAction="http://tempuri.org/IWcfProxyService/GetTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTodo">
      <soap:operation soapAction="http://tempuri.org/IWcfProxyService/CreateTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTodo">
      <soap:operation soapAction="http://tempuri.org/IWcfProxyService/UpdateTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTodo">
      <soap:operation soapAction="http://tempuri.org/IWcfProxyService/DeleteTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfProxyService">
    <wsdl:port name="BasicHttpBinding_IWcfProxyService" binding="tns:BasicHttpBinding_IWcfProxyService">
      <soap:address location="http://localhost:8080/toDoService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>